@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex min-h-screen flex-col antialiased bg-zinc-900;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 2rem;
  }
}
